<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <div class="mainsection">
      <div class="header">
        <p class="h2">Welcome to my website.</p>
        <p class="h3">
          We're glad you've chosen us, and we want to show our appreciation by
          giving you a special incentive.
        </p>
      </div>

      <div class="overview">
        <p class="h3">Introduction About Myself</p>
        <p class="h6">
          Dummy: My name is Simran Yadav and I am a student of Business Information Technology program at seneca college.
                 My student ID is 114467228 and seneca ID is syadav44@myseneca.ca.
                 I am interested in Website Applicaion Development.
        </p>
        <p class="h6">
          I would like to get a job in a well established IT company, where I can provide my input in the
          betterment of the organization. Moreover I wish to get exposure in the company by handling big 
          projects.
        </p>
        <p class="h6">
          Dummy: I did Bachelors in Computer Engineering from Amity University.
          
        </p>
      </div>
    </div>
    <!-- End your code here  -->
  </main>
</div>
